<form action="http://localhost:5000/select_graph" method="post">
    <label for="graph_select">Choose:</label>
    <select name="graph" id="graph_select">
        <option value="">--Please choose an option--</option>
        <option value="Happy">Happy</option>
        <option value="Music">Music</option>
    </select>
    <select name="graph2" id="graph_select2">
        <option value="">--Please choose an option--</option>
        <option value="Lonely">Lonely</option>
        <option value="Education">Education</option>
        <option value="Siblings">Siblings</option>
        <option value="Happy">Happy</option>
        <option value="Speaking">Fear of speaking</option>
        <option value="Storm">Fear of storm</option>
        <option value="Age">Age</option>
        <option value="Height">Fear of Height</option>
    </select>
    <input type="submit" value="Envoyer" />
</form>
