<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Le formulaire</title>
    </head>
    <body>
        <form action="http://localhost:5000/resultat" method="post">
                <label for="music_select">choose:</label>
                    <select name="music" id="music_select">
                        <option value="">--Please choose an option--</option>
                        <option value="folk">Folk</option>
                        <option value="rap">Rap</option>
                    </select>
                    <input type="submit" value="Envoyer" />
        </form>

    </body>
</html>